.navbar_color {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, #6e1c1c 0, rgba(10, 7, 7, 0.72) 100%);
  background-image: -o-linear-gradient(top, #6e1c1c 0, rgba(10, 7, 7, 0.72) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6e1c1c), to(rgba(10, 7, 7, 0.72)));
  background-image: linear-gradient(to bottom, #6e1c1c 0, rgba(10, 7, 7, 0.72) 100%);
}
.h2 {
  padding-top: 5%;
  text-shadow: 2px 2px black;
}
.figcaption {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3em;
}
.pic {
  position: relative;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px black;
}
header {
  margin-bottom: -20px;
}
header .navbar-inverse {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, #6e1c1c 0, rgba(10, 7, 7, 0.72) 100%);
  background-image: -o-linear-gradient(top, #6e1c1c 0, rgba(10, 7, 7, 0.72) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6e1c1c), to(rgba(10, 7, 7, 0.72)));
  background-image: linear-gradient(to bottom, #6e1c1c 0, rgba(10, 7, 7, 0.72) 100%);
}
header .navbar-inverse .nav {
  margin: 0 0;
  display: inline-block;
}
header .navbar-inverse .nav li {
  position: relative;
  display: inline-block;
}
.jumbotron {
  background-image: url("images/laguna.jpg");
  padding-bottom: 535px;
  color: white;
  position: relative;
}
.jumbotron .container {
  position: absolute;
  top: 50%;
  margin-top: -72px;
  text-shadow: 1px 1px black !important;
}
#portfolio .row .col-md-5 {
  margin: 1% 4%;
}
#portfolio .row .col-md-5 #pic1 {
  position: relative;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px black;
  box-shadow: 0px 1px 29px black !important;
  border-radius: 5px;
}

#prof-pic {
  width: 13%;
  margin-right: 3%;
  float: left;
  border-radius: 6px;
}

#portfolio .row .col-md-5 #pic1 img {
  height: 390px;
  transition: opacity 1.5s, transform 1.5s;
}
#portfolio .row .col-md-5 #pic1:hover > img {
  transform: translateY(-8%);
  opacity: .85;
}
#portfolio .row .col-md-5 #pic1:hover > figcaption::before {
  transform: scaleX(1);
}
#portfolio .row .col-md-5 #pic1:hover > figcaption::after {
  transform: scaleY(1);
}
#portfolio .row .col-md-5 #pic1:hover p {
  opacity: 1;
  transform: translateY(-60%);
}
#portfolio .row .col-md-5 #pic1 figcaption::before {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  content: '';
  position: absolute;
  right: 30px;
  left: 30px;
  bottom: 50px;
  top: 50px;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 1.5s;
}
#portfolio .row .col-md-5 #pic1 figcaption::after {
  border-right: 2px solid white;
  border-left: 2px solid white;
  content: '';
  position: absolute;
  top: 30px;
  left: 50px;
  right: 50px;
  bottom: 30px;
  transform: scaleY(0);
  transition: 1.5s;
  transform-origin: 0 0;
}
#portfolio .row .col-md-5 #pic1 figcaption {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3em;
}

#about-section p {
  line-height: 2.7em;
}

#portfolio .row .col-md-5 #pic1 figcaption h2 {
  padding-top: 5%;
  text-shadow: 2px 2px black;
}
#portfolio .row .col-md-5 #pic1 figcaption p {
  padding-top: 17%;
  opacity: 0;
  transition: opacity 1.5s, transform 1.5s;
  font-size: 2vw;
  text-shadow: 2px 2px black;
}
#portfolio .row .col-md-5 #pic2 {
  position: relative !important;
  margin: 10px 1% !important;
  min-width: 320px !important;
  max-width: 480px !important;
  max-height: 360px !important;
  overflow: hidden !important;
  background: #3085a3 !important;
  text-align: center !important;
  cursor: pointer !important;
  color: white !important;
  text-shadow: 2px 2px black !important;
  box-shadow: 0px 1px 29px black !important;
  border-radius: 5px;
}
#portfolio .row .col-md-5 #pic2:hover > figcaption::before {
  transform: scale(1.7);
  opacity: 1;
}
#portfolio .row .col-md-5 #pic2:hover p {
  transform: translate3d(-22%, -135%, 0);
  opacity: 1;
}
#portfolio .row .col-md-5 #pic2:hover > img {
  transform: translate3d(-18%, -10%, 0);
}
#portfolio .row .col-md-5 #pic2 img {
  transition: transform .5s;
  opacity: .9;
}
#portfolio .row .col-md-5 #pic2 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3em;
}
#portfolio .row .col-md-5 #pic2 figcaption::before {
  content: '';
  border: 2px solid white;
  position: absolute;
  left: 77%;
  bottom: -10%;
  top: 72%;
  right: -10%;
  border-radius: 50%;
  opacity: 1;
  transform: scale(1);
  transition: transform .5s;
  transform-origin: 100% 100%;
  box-shadow: 0 0 0 900px rgba(226, 225, 225, 0.15);
}
#portfolio .row .col-md-5 #pic2 h2 {
  padding-top: 5%;
  text-shadow: 2px 2px black;
}
#portfolio .row .col-md-5 #pic2 p {
  position: relative;
  left: 60%;
  top: 70%;
  transform: scale(1);
  opacity: 0;
  transition: .5s;
  transform-origin: 100% 100%;
}
